.navbar {
  padding: 1rem;
  display: flex;
  justify-content: flex-end; /* Push all items to the right */
  align-items: center; /* Vertically center the items */
  position: relative;
}

.navbar-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-left: 1rem; /* Add space between each item */
}

.navbar a {
  text-decoration: none;
  color: black;
}

/* Profile Circle Styling */
.profile {
  margin-left: 1rem; /* Add space between profile icon and other navbar items */
}

.profile-img {
  width: 40px;  /* Adjust the size as needed */
  height: 40px; /* Make sure it's a square */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the circle */
  border: 2px solid white; /* Optional: Add border to make it stand out */
}

.job-hunt-link {
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 1.2rem;
}
